
<div class="tarea-container"  *ngIf="showRegistroTarea === false">
    <mat-card class="tarea-card">
      <mat-card-header>
        <mat-card-title>Busqueda de Tareas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="searchForm" class="search-form">
          <mat-form-field appearance="outline">
            <mat-label>Buscar por nombre de tarea</mat-label>
            <input matInput placeholder="Nombre de tarea" formControlName="nombreTarea">
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>Buscar por estado</mat-label>
            <input matInput placeholder="Estado de tarea" formControlName="estadoTarea">
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label>Buscar por fecha</mat-label>
            <input matInput placeholder="Fecha de creación" formControlName="fechaTarea">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" (click)="lookFor()">Buscar</button> &nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="secondary" type="button" (click)="clear()" >Limpiar</button> &nbsp;&nbsp;&nbsp;
        <button mat-raised-button  color="primary" type="button"  (click)="NuevoRegistro()">Registrar Tarea</button>
        
        
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="showRegistroTarea">
    <app-registro-tarea></app-registro-tarea>
  </div>
  

    <div class="margentable" *ngIf="showRegistroTarea === false">
        <div class="col-12">
            <br>
            <!-- ----------------tabla ----------- -->
            <div class="col-12 center-container">
                <div class="mat-elevation-z8 ">

                    <table mat-table [dataSource]="dataSource">

                        
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones</th>
                                <td mat-cell *matCellDef="let element">
                                        <button mat-button (click)="openModal(element, 1)" title="Agregar Seguimiento"> <mat-icon class="large-icon">note_add</mat-icon></button>
                                      
                                </td>
                            </ng-container>
                        
                        <ng-container matColumnDef="estado_descripcion">
                            <th mat-header-cell *matHeaderCellDef>Estado</th>
                            <td mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.Pqrs.ID_ESTADO === 23"><span [ngClass]="'estado-pendiente'">PENDIENTE</span></ng-container>
                                <ng-container *ngIf="element.Pqrs.ID_ESTADO === 24"><span [ngClass]="'estado-en-proceso'">EN PROCESO</span></ng-container>
                                <ng-container *ngIf="element.Pqrs.ID_ESTADO === 25"><span [ngClass]="'estado-cerrado'">CERRADO</span></ng-container>
                                <ng-container
                                    *ngIf="!(element.Pqrs.ID_ESTADO === 23 || element.Pqrs.ID_ESTADO === 24 || element.Pqrs.ID_ESTADO === 25)">DESCONOCIDO</ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nombreTarea">
                            <th mat-header-cell *matHeaderCellDef> nombreTarea </th>
                            <td mat-cell *matCellDef="let element"> {{element.Pqrs.PQR_NUMERORADICADO}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fechaTarea">
                            <th mat-header-cell *matHeaderCellDef> fechaTarea </th>
                            <td mat-cell *matCellDef="let element">  </td>
                        </ng-container>

                        <ng-container matColumnDef="pqr_fecha_limite">
                            <th mat-header-cell *matHeaderCellDef>RTA Limite</th>
                            <td mat-cell *matCellDef="let element">
                              <span [ngClass]="{ 'near-deadline': element.nearDeadline }">
                                {{element.Pqrs.PQR_FECHA_LIMITE}}
                              </span>
                            </td>
                          </ng-container>

                  
                                          <!-- Fila del Encabezado -->
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                          <!-- Fila del Cuerpo -->
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                       
                        
                        
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
            <br>
          
            <br>
        </div>
    </div>
    


<!-- 
<div *ngIf="selectedElement " class="modal ">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h1 class="text-gray">
            <b>Seguimiento de la PQRS</b>
        </h1>
        <div class="modal-body">
            <h2 class="text-olive">Datos Usuarios</h2>
            <div class="col-12 row">

                <div class="col-4">
                    <p><strong>Número de Identificación:</strong> {{ selectedElement.Usuario.USU_NUMERODOCU }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Nombres: </strong> {{ selectedElement.Usuario.USU_NOMBREUNO }} {{ selectedElement.Usuario.USU_NOMBREDOS }} </p>
                </div>
                <div class="col-4">
                    <p><strong>Apellidos: </strong> {{ selectedElement.Usuario.USU_APELLIDOUNO }} {{ selectedElement.Usuario.USU_APELLIDODOS }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Direccion de residencia: </strong> {{ selectedElement.Usuario.ANONI_DIRECCION }} {{ selectedElement.Usuario.USU_DIRECCION }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Departarmento: </strong> {{ selectedElement.Usuario.USU_DPTO }} {{ selectedElement.Usuario.ANONI_DEPTO }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Municipio: </strong> {{ selectedElement.Usuario.ANONI_MUNICIPIO }} {{ selectedElement.Usuario.USU_MUNICIPIO }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Numero de celular:</strong> {{ selectedElement.Usuario.ANONI_TELEFONO }} {{ selectedElement.Usuario.USU_TELEFONO }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Correo: </strong> {{ selectedElement.Usuario.ANONI_CORREO }}{{ selectedElement.Usuario.USU_EMAIL }}</p>
                </div>

            </div>
            <h2 class="text-olive">Datos PQRS</h2>
            <div class="col-12 row">
                <div class="col-4">
                    <p><strong>Numero de radicado:</strong> {{ selectedElement.Pqrs.PQR_NUMERORADICADO}}</p>
                </div>
                <div class="col-4">
                    <p><strong>Fecha de radicado:</strong> </p>
                </div>
                <div class="col-4">
                    <p><strong>Estado:</strong> {{ selectedElement.Estado.ES_DESCRIPCION}}</p>
                </div>
          
                <div class="col-4">
                    <p><strong>Canal de recepción: </strong> {{selectedElement.Pqrs.PQR_CANALRECEPCION }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Clasificación: </strong> {{ selectedElement.Pqrs.PQR_CLASIFICACION}}</p>
                </div>
                <div class="col-4">
                    <p><strong>Motivo: </strong> {{ selectedElement.Pqrs.PQR_MOTIVO }} </p>
                </div>

                <div class="col-4">
                    <p><strong>Modalidad de atención: </strong> {{selectedElement.Pqrs.PQR_MODALIDAD_ATENCION }}</p>
                </div>
                <div class="col-4">
                    <p><strong>Patologia: </strong> {{ selectedElement.Pqrs.PQR_PATOLOGIA}}</p>
                </div>
                <div class="col-4">
                    <p><strong>Riesgo de Vida: </strong> {{ selectedElement.Pqrs.PQR_RIESGOVIDA}}</p>
                </div>     
                <div class="col-4">
                    <p><strong>Tecnologia: </strong> {{ selectedElement.Pqrs.PQR_TECNOLOGIA }}</p>
                </div>    
                <div class="col-4">
                    <p><strong>Tutela: </strong> {{ selectedElement.Pqrs.PQR_TUTELA}}</p>
                </div> 
                
                <div class="col-4">
                    <p><strong>Fecha de Recepcion: </strong> {{ selectedElement.Pqrs.PQR_FECHA_RECEPCION}}</p>
                </div>
                <div class="col-12">
                    <p><strong>Observación: </strong> {{ selectedElement.Pqrs.PQR_OBSERVACIONES}}</p>
                </div>            


              
            </div>
            <h2 class="text-olive">Historial de Seguimientos</h2>
            <div *ngFor="let item of informacionSeguimiento">
                <div class="col-12 row">
                    <div class="col-3">
                        <p><strong>Fecha:</strong> {{ item.SEG_FECHA }}</p>
                    </div>
                    <div class="col-3">
                        <p><strong>Mensaje:</strong> {{ item.SEG_MENSAJE }}</p>
                    </div>
                    <div class="col-3">
                        <p><strong>Cod seguimiento:</strong> {{ item.ID_SEGUIMIENTO}}</p>
                    </div>
                    <div class="col-3">
                        <p><strong>Archivos Adjuntos:</strong></p>
                        <ng-container *ngIf="getSeguimientoById(item.ID_SEGUIMIENTO) as seguimiento">
                          <ng-container *ngIf="seguimiento.archivos && seguimiento.archivos.length > 0; else noArchivo">
                            <div *ngFor="let archivo of seguimiento.archivos">
                              <button class="custom-button">
                                <a [href]="archivo.url" target="_blank" [title]="archivo.nombre">
                                  {{ archivo.nombre }}
                                </a>
                              </button>
                            </div>
                          </ng-container>
                          <ng-template #noArchivo>
                            <p>No hay archivos para este seguimiento.</p>
                          </ng-template>
                          
                        </ng-container>
                      </div>
                      
                </div>
                <hr>
            </div>

            <br>
            <div class="card" *ngIf="mostrarCardSeguimiento">
            <h2 class="text-olive">Agregar Seguimiento</h2>
            <form *ngIf="mostrarFormularioSeguimiento" [formGroup]="seguimientoPqrsForm">
            <div class="col-12 row">
                <div class="col-4">
                    <div class="row ">
                        <p>Tutela:</p>
                        <br>
                        <mat-radio-group aria-label="Select an option" formControlName="tutela" >
                            <mat-radio-button value="SI">Si</mat-radio-button>
                            <mat-radio-button value="NO">No</mat-radio-button>
                          </mat-radio-group>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row ">
                        <p>Riesgo de vida:</p>
                        <br>
                        <mat-radio-group aria-label="Select an option" formControlName="riesgoVida" >
                            <mat-radio-button value="Si">Si</mat-radio-button>
                            <mat-radio-button value="NO">No</mat-radio-button>
                          </mat-radio-group>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                      <mat-form-field appearance="fill" class="custom-form-fieldd">
                        <mat-label class="custom-input" >Patologías</mat-label>
                        <input type="text"  class="custom-option-text" matInput [formControlName]="'patologia'" [matAutocomplete]="autoPatologia">
                        <mat-autocomplete #autoPatologia="matAutocomplete">
                          <mat-option *ngFor="let patologia of patologias" class="custom-option-text"  [value]="patologia.DES_COMPLETO">
                            {{patologia.DES_COMPLETO}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>
                  
            </div>
            <br>
            <br>
            <div class="col-12 row">
               

                <div class="col-4">
                    <div class="row ">
                        <mat-form-field appearance="fill" class="custom-form-field">
                            <mat-label class="custom-input">Modalidad de atención</mat-label>
                            <mat-select formControlName="modAtencion" id="modAtencion" class="custom-option-text">
                                <mat-option [value]="modalida.label"
                                *ngFor="let modalida of modalidad.items" class="custom-option-text">{{ modalida.label
                                }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


                <div class="col-4">
                    <div class="row">
                      <mat-form-field appearance="fill" class="custom-form-fieldd">
                        <mat-label class="custom-input">Tecnología</mat-label>
                        <input type="text" class="custom-option-text" matInput [formControlName]="'codTecnologia'" [matAutocomplete]="autoTecnologia">
                        <mat-autocomplete #autoTecnologia="matAutocomplete">
                          <mat-option *ngFor="let tecnologia of LstaTecnologias"  class="custom-option-text" [value]="tecnologia.COD_ACT">
                            {{tecnologia.COD_ACT}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>   
                  <div class="col-4">
                    <div class="row ">
                        <mat-form-field appearance="fill" class="custom-form-field">
                            <mat-label class="custom-input">Motivo</mat-label>
                            <mat-select formControlName="motivoafect" class="custom-option-text">
                                <mat-option [value]="motivo.value"  class="custom-option-text" *ngFor="let motivo of motivos">{{
                                    motivo.value
                                    }}</mat-option>

                            </mat-select>
                            <mat-error>
                                Diligenciar Campo !
                            </mat-error>
                         
                        </mat-form-field>
                    </div>
                    
                </div>
        
            </div>
            <br>
            <div class="col-12 row">                

           

                <div class="col-4">
                    <div class="row ">
                        <mat-form-field appearance="fill" class="custom-form-field">
                            <mat-label class="custom-input">Clasificacion de la PQRS</mat-label>
                            <mat-select formControlName="clasificacion" class="custom-option-text">
                                <mat-option [value]="clasificacion.value"  class="custom-option-text" *ngFor="let clasificacion of lstaClasific">{{
                                    clasificacion.value
                                    }}</mat-option>

                            </mat-select>
                            <mat-error>
                                Diligenciar Campo !
                            </mat-error>
                         
                        </mat-form-field>
                    </div>
                    
                </div>
            
            </div>
        </form>   
            <br>
            <div class="col-12 row">
                <div class="col-6">
                    <p>Observaciones:</p>
                    <textarea matInput class="custom-input" [(ngModel)]="Observaciones"
                        ></textarea>
                </div>
                <div class="col-6">
                    <form [formGroup]="buscadorPQRsForm">
                        <div class="file-upload-container">
                            <p>Adjuntar archivo:</p>
                          
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="archivoadjunto">
                                    <i class="fas fa-inbox green-icon"></i>
                                </span>
                                <input #archivoAdjuntoInput type="file" aria-describedby="archivoadjuntoseguimiento"
                                    id="archivoadjuntoseguimiento" formControlName="archivoadjuntoseguimiento"
                                    class="btn btn-block btn-outline-secondary btn-xs" (change)="getFile($event)"
                                    accept=".png, .pdf, .zip, .rar" multiple>
                                <span class="input-group-text" id="archivoadjuntoseguimiento">
                                    <button type="button" class="btn btn-default" (click)="limpiar1()"
                                        tooltip="Limpiar">
                                        <i class="fa fa-trash red-icon "></i>
                                    </button>
                                </span>
                            </div>
                            <br>
                            <div *ngIf="fileTmp.length > 0">
                                <ul>
                                    <li *ngFor="let file of fileTmp"> <i class="far fa-file-pdf"></i> {{
                                        file.fileName }}</li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <button type="button" class="btn bg-gray btn-sm" (click)="closeModal()">Cancelar</button>&nbsp;
                <button type="button" class="btn bg-olive btn-sm" [disabled]="observacionGuardada" (click)="guardarSeguimiento()">
                    Guardar</button>
            </div>
        </div>
            <br>
            <br>
            <div class="card">
            <h2 class="text-olive">Campos envío de correo electronico</h2>
            <form [formGroup]="buscadorPQRsForm">
                <div class="col-12 row">
                    <div class="col-6">
                        <label for="correo" class="form-label fw-bold">Correos:</label>
                        <input formControlName="correo" id="correo" type="text"
                            class="form-control form-control-sm font-italic"
                            placeholder="Los correos van separados por comas sin espacios">
                    </div>
                    <div class="col-6">
                        <label for="asunto" class="form-label fw-bold">Asunto:</label>
                        <input formControlName="asuntoo" id="asuntoo" type="text"
                            class="form-control form-control-sm font-italic">
                    </div>
                    <div class="col-12">
                        <label for="observacioncorreo">Observaciones: </label>
                     
                        <textarea matInput class="custom-input" formControlName="observacioncorreo"
                            ></textarea>
                    </div>
                    <div class="col-12">
                        <label for="archivoAdjuntoInput">Archivos:</label>
                        <input #archivoAdjuntoInput type="file" aria-describedby="inputGroupFileAddon01"
                            class="btn btn-block btn-outline-secondary btn-xs " (change)="handleFileInput($event)"
                            accept=".png, .pdf, .zip, .rar" multiple>
                    </div>
                </div>
            </form>
            <br>
            <div class="button-container">
                <button class="btn-green bg-olive" (click)="sendEmail()">
                    Enviar <mat-icon> email</mat-icon>
                </button>
            </div>
            </div>
        </div>
    </div>
</div> -->